<ng-container *ngIf="shouldConsent">
  <p>{{'consent.should-consent' | translate}}</p>
  <button mat-raised-button color="primary" (click)="redirectToConsent()">{{'consent.share' | translate}}</button>
  <button mat-raised-button color="warn" (click)="logout()">{{'common.logout' | translate}}</button>
</ng-container>
<ng-container *ngIf="consented">
  <p>{{'consent.consented' | translate}}</p>
  <button routerLink="{{routes.HOME}}" mat-raised-button color="warn">{{'common.return' | translate}}</button>
</ng-container>
<ng-container *ngIf="consentError">
  <p>{{'consent.consent-error' | translate}}</p>
  <button routerLink="{{routes.LOGIN}}" mat-raised-button color="warn">{{'common.logout' | translate}}</button>
</ng-container>
