<mat-toolbar color="primary" role="heading" class="justify-content-between">
  <h1 class="m-0 mouse-over" routerLink="{{routes.HOME}}">Upon Chart</h1>
  <div>
    <button mat-icon-button aria-label="menu" (click)="toggleTheme()">
      <mat-icon>{{lightTheme ? 'light_mode' : 'dark_mode'}}</mat-icon>
    </button>
    <button mat-icon-button aria-label="menu" [matMenuTriggerFor]="headingMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <mat-menu #headingMenu>
    <ng-container *ngIf="isAuthenticated$ | async">
      <div class="identity">{{(user$ | async)?.login}}</div>
      <button mat-menu-item routerLink="{{routes.ACCOUNT}}">Compte</button>
      <button mat-menu-item (click)="logout()">Déconnexion</button>
    </ng-container>
    <button mat-menu-item *ngIf="!(isAuthenticated$ | async)" routerLink="{{routes.LOGIN}}">Connexion</button>
  </mat-menu>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
