<ng-container *ngIf="funds$ | async as funds">
  <ng-container
    [ngTemplateOutlet]="fund"
    [ngTemplateOutletContext]="{$implicit: funds.totalFunds, title: 'home.total-funds' | translate}"
  ></ng-container>
  <ng-container
    [ngTemplateOutlet]="fund"
    [ngTemplateOutletContext]="{$implicit: funds.availableFunds, title: 'home.available-funds' | translate}"
  ></ng-container>
  <ng-container
    [ngTemplateOutlet]="fund"
    [ngTemplateOutletContext]="{$implicit: funds.fundsOnHold, title: 'home.funds-on-hold' | translate}"
  ></ng-container>
  <ng-container
    [ngTemplateOutlet]="fund"
    [ngTemplateOutletContext]="{$implicit: funds.processingFunds, title: 'home.processing-funds' | translate}"
  ></ng-container>
</ng-container>
<ng-template #fund let-fund let-title="title">
  <h2>{{title}}</h2>
  <p>{{fund.value}} {{fund.currency}}</p>
</ng-template>
<ng-container *ngIf="(error$ | async) === true">
  <app-error></app-error>
</ng-container>
<ng-container *ngIf="(loading$ | async) === true">
  <app-spinner></app-spinner>
</ng-container>
