<ng-container *ngIf="funds$ | async as funds">
  <ng-container
    [ngTemplateOutlet]="fund"
    [ngTemplateOutletContext]="{$implicit: funds.totalFunds, title: 'Fonds'}"
  ></ng-container>
  <ng-container
    [ngTemplateOutlet]="fund"
    [ngTemplateOutletContext]="{$implicit: funds.availableFunds, title: 'Fonds disponibles'}"
  ></ng-container>
  <ng-container
    [ngTemplateOutlet]="fund"
    [ngTemplateOutletContext]="{$implicit: funds.fundsOnHold, title: 'Fonds en attente'}"
  ></ng-container>
  <ng-container
    [ngTemplateOutlet]="fund"
    [ngTemplateOutletContext]="{$implicit: funds.processingFunds, title: 'Fonds en cours de traitement'}"
  ></ng-container>
</ng-container>
<ng-template #fund let-fund let-title="title">
  <h2>{{title}}</h2>
  <p>{{fund.value}} {{fund.currency}}</p>
</ng-template>
<ng-container *ngIf="(error$ | async) === true">
  <p>Une erreur est survenue</p>
</ng-container>
<ng-container *ngIf="(loading$ | async) === true">
  <app-spinner></app-spinner>
</ng-container>
