@import "src/assets/styles/display";
@import "src/assets/styles/flex-helpers";
@import "src/assets/styles/interactions";
@import "src/assets/styles/spacing";
@import "src/assets/styles/containers";

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: Roboto, Helvetica, sans-serif;
}
